<section *ngIf="!loading" class="container mt-3">
  <form>
    <quill-editor (onEditorCreated)="EditorCreated($event)" [modules]="modules" [styles]="{height: '235px'}">
    </quill-editor>
    <br>
    <button (click)="onSubmit()" type="button" class="btn btn-primary btn-lg text-center">GUARDAR</button>
  </form>
</section>

<div *ngIf="loading" class="text-center" style="height: 100vh; line-height: 100vh;">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container">
  <ng-container *ngFor="let item of allImg" >
    <img *ngIf="allImg.length > 0" src="{{item}}" class="img-thumbnail m-3" alt="" style="width: 350px;">
  </ng-container>
</div>